body {
    background-color: #0D0D0D;
}

/*   navBar   */

navBar {
    left: -257px;
    z-index: 2;
    background-color: #0D0D0D;
}

.blackPart {
    width: 257px;
}

.whitePart {
    width: 66px;
}

.whitePart i,
.lowerPart i {
    cursor: pointer;
}

ul {
    list-style: none;
}

.upperPart{
    overflow: hidden;
}

ul li{
position: relative;
top: 200px;
transition: all 1s;
} 


li {
    cursor: pointer;
}





/* Search */

searchLi ::placeholder {
    color: gray !important;
}

searchLi input {
color: white !important;
}


/* Categories */
.layer {
    background-color: rgba(255, 255, 255, 0.7);
    top: 100%;
    transition: all 0.5s;
}

.meal {
    cursor: pointer;
}

.meal:hover .layer {
    top: 0;
}





/* Area */
/* @media (min-width:1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1200px;
    }
} */

.area {
    cursor: pointer;
}



ingredient a:first-of-type {
    transition: all 0.3s;
}

ingredient a:last-of-type {
    transition: all 0.3s;
}


/* Ingredient */

ingredient a:first-of-type:hover {
    background-color: rgb(1, 97, 1) !important;
}

ingredient a:nth-of-type(2):hover {
    background-color: rgb(138, 4, 4) !important;
}




/* input::placeholder {
    font-size: 14px;
} */







.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

.loadingAnimation {
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 3;
}